.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.contact h2 {
  font-size: 60px;
  padding: 2rem;
}

.contact label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 20px;
}

.contact input,
.contact textarea {
  width: 50%;
  padding: 0.5rem;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

.contact button {
  padding: 0.5rem 2rem;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.contact button:hover {
  background-color: #444;
}

.contact p {
  color: red;
  font-size: 14px;
  margin-bottom: 0.5rem;
}
